* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #f5f5fc;
}


/* Sidebar */
.sidebar {
  width: 220px;
  background: #7a3fc1;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.sidebar nav a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}