  <!-- ==================== -->
    <!-- Modal de sucesso -->
    <!-- ==================== -->
    <div id="modalSucesso" class="modal">
        <div class="modal-content aviso">
            <p>Cadastro concluído com sucesso!</p>
            <button id="btnFecharSucesso">Fechar</button>
        </div>
    </div>