  <!-- ==================== -->
    <!-- Modal de erro -->
    <!-- ==================== -->
    <div id="modalErro" class="modal">
        <div class="modal-content aviso">
            <p>Por favor, preencha todos os campos!</p>
            <button id="btnFecharErro">Fechar</button>
        </div>
    </div>