<div id="modalCadastro" class="modal">
    <div class="modal-content">
        <button class="voltar" id="btnFecharCadastro">
            <img src="./Imagens/BotaoVoltar.png" alt="Voltar">
        </button>
        
        <h1>Cadastro</h1>
        <input type="text" placeholder="Nome" id="nomeCadastro">
        <input type="text" placeholder="CPF" id="cpfCadastro">
        <input type="email" placeholder="E-mail" id="emailCadastro"> 
        <input type="password" placeholder="Senha" id="senhaCadastro">
        <i class='bx bx-show toggleSenha' style="position:absolute; right:20px; top:calc(50% + 2px); transform: translateY(-50%); cursor:pointer;"></i>
        
        <button class="registrar" id="btnCadastrar">CADASTRAR</button>
    </div>
</div>