  <!-- ==================== -->
    <!-- Modal do responsável (segunda etapa do cadastro) -->
    <!-- ==================== -->
    <div id="modalResponsavel" class="modal">
        <div class="modal-content">
            <button class="voltar" id="btnFecharResponsavel">
                <img src="./Imagens/BotaoVoltar.png" alt="Voltar">
            </button>
           
            <h1>Cadastro Criança</h1>

            <!-- Foto principal -->
            <div class="foto-principal-container">
                <img src="/Imagens/Icones crianças/Icone Base.jpg" id="fotoPrincipal" alt="texste">
            </div>

            <!-- Overlay da galeria -->
            <div class="overlayGaleria" id="overlayGaleria">
                <div class="galeriaConteudo">
                    <span class="fecharGaleria" id="fecharGaleria">&times;</span>
                    <h3>Escolha sua foto de perfil</h3>
                    <div class="fotoGaleria">
                        <img src="./Imagens/Icones crianças/CriancaBranca" class="perfil-opcao" alt="Foto 1">
                        <img src="./Imagens/Icones crianças/CriancaBrancaM" class="perfil-opcao" alt="Foto 2">
                        <img src="./Imagens/Icones crianças/CriancaBrancaO" class="perfil-opcao" alt="Foto 3">
                        <img src="./Imagens/Icones crianças/CriancaNegra" class="perfil-opcao" alt="Foto 4">
                        <img src="./Imagens/Icones crianças/CriancaNegraM" class="perfil-opcao" alt="Foto 5">
                    </div>
                </div>
            </div>

            <!-- Formulário de dados do responsável -->
            <div class="form-campos">
                <input type="text" placeholder="Nome completo">
                <input type="date" placeholder="Data de Nascimento">
                <input type="text" placeholder="Telefone do responsavel">
            </div>

            <button class="registrar" id="btnFinalizarCadastro">FINALIZAR CADASTRO</button>
        </div>
    </div>
