<div class="modal" id="modalAdicionarCrianca">
  <div class="modal-content">
    <h2>Adicionar Nova Criança</h2>
    <input type="text" id="nomeCriancaInput" placeholder="Nome da Criança">
    <input type="text" id="cpfCriancaInput" placeholder="CPF da Criança">
    <input type="date" id="dataNascimentoCriancaInput">
    
    <button onclick="adicionarNovaCrianca()">Salvar</button>
    <button onclick="closeModal('modalAdicionarCrianca')">Cancelar</button>
  </div>
</div>