<div class="modal" id="emailModal">
  <div class="modal-content">
    <button class="close-btn" onclick="closeModal('emailModal')">&times;</button>
    <h2>Adicionar Cuidador</h2>
    <hr>
    <label for="emailCuidadorInput">Email do Cuidador:</label>
    <input type="email" id="emailCuidadorInput" placeholder="E-mail do cuidador" required>
    <button class="add-btn" onclick="associarCuidador()">Associar</button>
  </div>
</div>