<div class="sidebar">
  <div class="profile">
    <p id="profileName"><%= nomeUsuario %></p>
    <p id="profileCPF"><%= cpfUsuario %></p>
  </div>
  <nav>
    <a href="/dashboard"><i class="fa-solid fa-user-group"></i> Home</a>
    <a href="/criancas"><i class="fa-solid fa-user-group"></i> Crianças</a>
    <a href="/cuidadores"><i class="fa-solid fa-comments"></i> Cuidadores</a>
    <a href="/perfil"><i class="fa-solid fa-comments"></i> Perfil</a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
  </nav>
</div>